<!DOCTYPE html>
<html>
  <head>
    <title>Blue Moon - Responsive Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="img/favicon.ico">
    
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/new.css" rel="stylesheet"> 
    <link href="../assets/css/blog.css" rel="stylesheet">

    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>


    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
        <!-- Top Nav Start -->

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
          
          <!-- Blog Container Start -->
          <div class="blog-container">
            
            <h1 class="center-align-text">It's Time to get to know your users.</h1>

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

                <!-- Blog One Starts -->
                <div class="blog-wrapper">
                  <img src="../assets/img/bluemoon-blog7.jpg" class="blog-image img-responsive" alt="Bluemoon Blog">
                  <div class="blog-body">
                    <div class="blog-type">
                      <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="date">
                      10, Apr 2015
                    </div>
                    <p class="blog-info-lg">
                      This "trend chart" shows loading times across releases of a hypothetical web application. It is a mixture of a line chart and an area chart, with the daily median loading time indicated by the line and percentile ranges indicated by the surrounding areas. The "lollipops" mark releases of (different parts of) the application.
                    </p>
                    
                    <!-- Row Start -->
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <img src="../assets/img/bluemoon-blog5.jpg" class="blog-image img-responsive" alt="Bluemoon Blog">
                      </div>
                    </div>
                    <!-- Row Ends -->

                    <br><br>

                    <!-- Row Start -->
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <h2>The competitive spectrum</h2>
                        <p class="blog-info-lg">
                          This "trend chart" shows loading times across releases of a hypothetical web application. It is a mixture of a line chart and an area chart, with the daily median loading time indicated by the line and percentile ranges indicated by the surrounding areas. The "lollipops" mark releases of (different parts of) the application.
                        </p>

                        <br><br>

                        <p class="blog-info-lg">
                          This "trend chart" shows loading times across releases of a hypothetical web application. It is a mixture of a line chart and an area chart, with the daily median loading time indicated by the line and percentile ranges indicated by the surrounding areas. The "lollipops" mark releases of (different parts of) the application.
                        </p>

                        <br>

                        <h5>Tags: <a href="#" class="text-info">Admin</a>, <a href="#" class="text-success">Blog</a>, <a href="#" class="text-danger">Dashboard</a>, <a href="#" class="text-warning">BlueMoon</a></h5>
                      </div>
                    </div>
                    <!-- Row Ends -->

                    <div class="writtern-by clearfix">
                      <img src="../assets/img/user7.jpg" class="writer" Alt="Author">
                      <div class="writer-info">
                        WRITTEN BY
                        <h4>John Williams</h4>
                      </div>
                    </div>

                    <a href="blog.html" class="blog-btn"><i class="fa fa-long-arrow-left"></i> Older Posts</a>

                    <br><br><br>

                  </div>
                </div>
                <!-- Blog One Ends -->

              </div>
            </div>
            <!-- Row Ends -->

          </div>
          <!-- Blog Container End -->

        </div>
        <!-- Dashboard Wrapper End -->

        

      </div>
    </div>
    <!-- Main Container end -->

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.scrollUp.js"></script>
    
    <!-- Custom JS -->
    <script src="../assets/js/menu.js"></script>
    
    <script type="text/javascript">
     

      //Tooltip
      $('a').tooltip('hide');
      $('i').tooltip('hide');

    </script>

  </body>
</html>