<!DOCTYPE html>
<html>
  <head>
    <title>Blue Moon - Responsive Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/new.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->

    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>



    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
       
        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Geo Chart
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="geo_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Bubble Chart<a id="bubble-chart">t</a>
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div id="bubble_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Area Char<a id="area-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="area_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Line Char<a id="line-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="line_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Candlestick Char<a id="candlestick-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="candlestick_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Column Char<a id="column-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="column_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Pie Char<a id="pie-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="pie_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Combo Chart
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="combo_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Table Char<a id="table-chart">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div id="table_chart"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <ul class="month-income">
                <li>
                  <span class="icon-block blue-block">
                    <i class="fa fa-html5 fa-lg"></i>
                  </span>
                  <h5>
                    @srinubasava 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    10 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block orange-block">
                    <i class="fa fa-apple fa-lg"></i>
                  </span>
                  <h5>
                    @prempillai 
                    <small class="info-fade">
                      Sr. Developer
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block green-block">
                    <i class="fa fa-github fa-lg"></i>
                  </span>
                  <h5>
                    @arjunurs 
                    <small class="info-fade">
                      Developer
                    </small>
                  </h5>
                  <p>
                    14 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block red-block">
                    <i class="fa fa-xing fa-lg"></i>
                  </span>
                  <h5>
                    @gajjugujju 
                    <small class="info-fade">
                      Team Leader
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
                <li>
                  <span class="icon-block yellow-block">
                    <i class="fa fa-css3 fa-lg"></i>
                  </span>
                  <h5>
                    @boomer 
                    <small class="info-fade">
                      Business
                    </small>
                  </h5>
                  <p>
                    28 minutes ago
                  </p>
                </li>
              </ul>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="mini-dashboard">
                <div class="graph-container">
                  <p class="city">
                    Omnms
                    <span class="time">Today 10:10 AM</span>
                  </p>
                  <div class="graph">
                    <span id="stock-graph">
                      3, 5, 8, -5, 1, 5, -2, 9, 6, 8, 9, -5, 2, -9, 6, 8, 9, 6, 8, 9, -5, 8, 1, 6, -3, 7, 9
                    </span>
                  </div>
                  <div class="info-container">
                    <div class="blocks-container">
                      <div class="block">
                        <i class="arrow">
                        </i>
                        3.10p
                      </div>
                      <div class="block last">
                        <i class="arrow">
                        </i>
                        7.89p
                      </div>
                      <div class="clearfix">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->
        </div>
        <!-- Dashboard Wrapper End -->

      

      </div>
    </div>
    <!-- Main Container end -->

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.scrollUp.js"></script>

    <!-- Google Visualization JS -->
    <!--<script src="../assets/js/google-api.js"></script> 

    <!-- Sparkline graphs -->
    <script src="../assets/js/sparkline.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/menu.js"></script>
    <!--<script src="../assets/js/custom-google.js"></script> -->
    
    <script type="text/javascript">
     

      //Tooltip
      $('a').tooltip('hide');

      //Popover
      $('.popover-pop').popover('hide');

      //Dropdown
      $('.dropdown-toggle').dropdown();

      $(document).ready(function () {
        sparkline_graphs();
      });

      function sparkline_graphs() {
        $(function () {
          $('#stock-graph').sparkline('html', {
            type: 'bar',
            barColor: '#0daed3',
            barWidth: 7,
            height: 38,
          });
        });
      }

    </script>

  </body>
</html>