<!DOCTYPE html>
<html>
  <head>
    <title>Blue Moon - Responsive Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/new.css" rel="stylesheet"> 
    <link href="../assets/css/pricing.css" rel="stylesheet">

    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  

    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
       

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper-lg">
          <div class="cd-pricing-container cd-full-width cd-secondary-theme">
            <div class="cd-pricing-switcher clearfix">
              <p class="fieldset pull-right">
                <input type="radio" name="duration" value="monthly" id="monthly" checked>
                <label for="monthly">Monthly</label>
                <input type="radio" name="duration" value="yearly" id="yearly">
                <label for="yearly">Yearly</label>
                <span class="cd-switch"></span>
              </p>
            </div> <!-- .cd-pricing-switcher -->

            <ul class="cd-pricing-list cd-bounce-invert">
              <li>
                <ul class="cd-pricing-wrapper">
                  <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                      <h2>Basic</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">25</span>
                        <span class="cd-duration">mo</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>256MB</em> Memory</li>
                        <li><em>1</em> User</li>
                        <li><em>1</em> Website</li>
                        <li><em>1</em> Domain</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>

                  <li data-type="yearly" class="is-hidden">
                    <header class="cd-pricing-header">
                      <h2>Basic</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">250</span>
                        <span class="cd-duration">yr</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>256MB</em> Memory</li>
                        <li><em>1</em> User</li>
                        <li><em>1</em> Website</li>
                        <li><em>1</em> Domain</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>
                </ul> <!-- .cd-pricing-wrapper -->
              </li>

              <li class="cd-popular">
                <ul class="cd-pricing-wrapper">
                  <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                      <h2>Popular</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">50</span>
                        <span class="cd-duration">mo</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>512MB</em> Memory</li>
                        <li><em>3</em> Users</li>
                        <li><em>5</em> Websites</li>
                        <li><em>7</em> Domains</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>

                  <li data-type="yearly" class="is-hidden">
                    <header class="cd-pricing-header">
                      <h2>Popular</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">550</span>
                        <span class="cd-duration">yr</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>512MB</em> Memory</li>
                        <li><em>3</em> Users</li>
                        <li><em>5</em> Websites</li>
                        <li><em>7</em> Domains</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>
                </ul>
              </li> <!-- .cd-pricing-wrapper -->

              <li>
                <ul class="cd-pricing-wrapper">
                  <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                      <h2>Premier</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">75</span>
                        <span class="cd-duration">mo</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>1024MB</em> Memory</li>
                        <li><em>5</em> Users</li>
                        <li><em>10</em> Websites</li>
                        <li><em>10</em> Domains</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>

                  <li data-type="yearly" class="is-hidden">
                    <header class="cd-pricing-header">
                      <h2>Premier</h2>

                      <div class="cd-price">
                        <span class="cd-currency">$</span>
                        <span class="cd-value">900</span>
                        <span class="cd-duration">yr</span>
                      </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                        <li><em>1024MB</em> Memory</li>
                        <li><em>5</em> Users</li>
                        <li><em>10</em> Websites</li>
                        <li><em>10</em> Domains</li>
                        <li><em>Unlimited</em> Bandwidth</li>
                        <li><em>24/7</em> Support</li>
                      </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                      <a class="cd-select" href="#">Select</a>
                    </footer> <!-- .cd-pricing-footer -->
                  </li>
                </ul> <!-- .cd-pricing-wrapper -->
              </li>
            </ul> <!-- .cd-pricing-list -->
          </div> <!-- .cd-pricing-container -->

        </div>
        <!-- Dashboard Wrapper End -->

       

      </div>
    </div>
    <!-- Main Container end -->

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.scrollUp.js"></script>

    <script src="../assets/js/modernizr.js"></script>
    <script src="../assets/js/pricing.js"></script>
    
    <script src="../assets/js/menu.js"></script>
    <script type="text/javascript">
     
    </script>

  </body>
</html>