<!DOCTYPE html>
<html>
  <head>
    <title>Blue Moon - Responsive Admin Dashboard</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
    <meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="shortcut icon" href="../assets/img/favicon.ico">
    
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="../assets/css/new.css" rel="stylesheet">
    <!-- Important. For Theming change primary-color variable in main.css  -->

    <link href="../assets/fonts/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Header Start -->
   

    <!-- Main Container start -->
    <div class="dashboard-container">

      <div class="container">
      

        <!-- Dashboard Wrapper Start -->
        <div class="dashboard-wrapper">
          
          <!-- Left Sidebar Start -->
          <div class="left-sidebar">
            
            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Headings &amp; Paragraphs
                    </div>
                    <span class="tools">
                      <i class="fa fa-cogs"></i>
                    </span>
                  </div>
                  <div class="widget-body">
                    <div class="jumbotron">
                      <h1>
                        Heading-1
                      </h1>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                    
                    <div class="jumbotron">
                      <h2>
                        Heading-2
                      </h2>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                    
                    <div class="jumbotron">
                      <h3>
                        Heading-3
                      </h3>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                    
                    <div class="jumbotron">
                      <h4>
                        Heading-4
                      </h4>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                    
                    <div class="jumbotron">
                      <h5>
                        Heading-5
                      </h5>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                    
                    <div class="jumbotron no-margin">
                      <h6>
                        Heading-6
                      </h6>
                      <p>
                        Engineer enable strategize visualize architect folksonomies reinvent; enable front-end; world-class ROI disintermediate dynamic, web-enabled efficient B2B robust tag. Deliver, benchmark, "benchmark,".
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Unordered Lis<a id="ulLists">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <ul>
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                          <ul>
                            <li>
                              Phasellus iaculis neque
                            </li>
                            <li>
                              Purus sodales ultricies
                            </li>
                            <li>
                              Vestibulum laoreet porttitor sem
                            </li>
                            <li>
                              Ac tristique libero volutpat at
                            </li>
                          </ul>
                        </li>
                        <li>
                          Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Ordered List
                    </div>
                  </div>
                  <div class="widget-body">
                    <ol class="no-margin">
                      <li>
                        Lorem ipsum dolor sit amet
                      </li>
                      <li>
                        Consectetur adipiscing elit
                      </li>
                      <li>
                        Integer molestie lorem at massa
                      </li>
                      <li>
                        Facilisis in pretium nisl aliquet
                      </li>
                      <li>
                        Nulla volutpat aliquam velit
                      </li>
                      <li>
                        Faucibus porta lacus fringilla vel
                      </li>
                      <li>
                        Aenean sit amet erat nunc
                      </li>
                      <li>
                        Eget porttitor lorem
                      </li>
                      <li>
                        Facilisis in pretium nisl aliquet
                      </li>
                    </ol>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Leading Zero List
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <ul class="decimal-leading-zero">
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                          <ul class="decimal-leading-zero">
                            <li>
                              Phasellus iaculis neque
                            </li>
                            <li>
                              Purus sodales ultricies
                            </li>
                            <li>
                              Vestibulum laoreet porttitor sem
                            </li>
                            <li>
                              Ac tristique libero volutpat at
                            </li>
                          </ul>
                        </li>
                        <li>
                          Aenean sit amet erat nunc
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Letter List
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <ul class="upper-alpha">
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                        </li>
                        <li>
                          Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                        </li>
                        <li>
                          Faucibus porta lacus fringilla vel
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Roman Lis<a id="romanList">t</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <ul class="roman-list">
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Integer molestie lorem at massa
                        </li>
                        <li>
                          Facilisis in pretium nisl aliquet
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                        </li>
                        <li>
                          Faucibus porta lacus fringilla vel
                        </li>
                        <li>
                          Aenean sit amet erat nunc
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                        <li>
                          Facilisis in pretium nisl aliquet
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm12 col-xs-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Lower Alpha List
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <ul class="lower-alpha">
                        <li>
                          Lorem ipsum dolor sit amet
                        </li>
                        <li>
                          Consectetur adipiscing elit
                        </li>
                        <li>
                          Nulla volutpat aliquam velit
                          <ul class="lower-alpha">
                            <li>
                              Phasellus iaculis neque
                            </li>
                            <li>
                              Purus sodales ultricies
                            </li>
                            <li>
                              Vestibulum laoreet porttitor sem
                            </li>
                            <li>
                              Ac tristique libero volutpat at
                            </li>
                          </ul>
                        </li>
                        <li>
                          Aenean sit amet erat nunc
                        </li>
                        <li>
                          Eget porttitor lorem
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                      Blockquote
                    </div>
                  </div>
                  <div class="widget-body">
                    <blockquote>
                      <span class="title">
                        Article 1
                      </span>
                      <p>
                        Markets mindshare; compelling citizen-media cross-platform leading-edge, ecologies revolutionary; beta-test web-enabled; revolutionize. Interactive.
                      </p>
                    </blockquote>
                    
                    <blockquote>
                      <span class="title">
                        Article 2
                      </span>
                      <p>
                        Wikis optimize mesh, "tagclouds productize communities," convergence user-centred, streamline best-of-breed user-centric. Convergence functionalities niches deploy brand, "social portals," networks harness.
                      </p>
                      <small>
                        Someone famous 
                        <cite title="Source Title">
                          Source Title
                        </cite>
                      </small>
                    </blockquote>
                    
                    <blockquote class="no-margin">
                      <span class="title">
                        Article 3
                      </span>
                      <p>
                        Wikis optimize mesh, "tagclouds productize communities," convergence user-centred, streamline best-of-breed user-centric. Convergence functionalities niches deploy brand, "social portals," networks harness.
                      </p>
                      <small>
                        Someone famous 
                        <cite title="Source Title">
                          Source Title
                        </cite>
                      </small>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

            <!-- Row Start -->
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Descriptio<a id="description">n</a>
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <dl class="no-margin">
                        <dt class="text-danger">
                          Description lists
                        </dt>
                        <dd>
                          A description list is perfect for defining terms.
                        </dd>
                        <dt class="text-danger">
                          Euismod
                        </dt>
                        <dd>
                          Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                        </dd>
                        <dd>
                          Donec id elit non mi porta gravida at eget metus.
                        </dd>
                        <dt class="text-danger">
                          Malesuada porta
                        </dt>
                        <dd>
                          Etiam porta sem malesuada magna mollis euismod.
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="widget no-margin">
                  <div class="widget-header">
                    <div class="title">
                      Horizontal Descriptio<a id="hDesc">n</a>  
                    </div>
                  </div>
                  <div class="widget-body">
                    <div class="stylish-lists">
                      <dl class="dl-horizontal no-margin">
                        <dt  class="text-info">
                          Description lists
                        </dt>
                        <dd>
                          A description list is perfect for defining terms.
                        </dd>
                        <dt  class="text-info">
                          Euismod
                        </dt>
                        <dd>
                          Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                        </dd>
                        <dd>
                          Donec id elit non mi porta gravida at eget metus.
                        </dd>
                        <dt  class="text-info">
                          Malesuada porta
                        </dt>
                        <dd>
                          Etiam porta sem malesuada magna
                        </dd>
                        <dt  class="text-info">
                          Felis euismod semper eget lacinia
                        </dt>
                        <dd>
                          Fusce dapibus, tellus ac.
                        </dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Row End -->

          </div>
          <!-- Left Sidebar End -->

          <!-- Right Sidebar Start -->
          <div class="right-sidebar">
            <div class="wrapper">
              <button class="btn btn-lg btn-block btn-info" type="button">
                Block level button
              </button>
              <button class="btn btn-lg btn-block btn-warning" type="button">
                Block level button
              </button>
              <button class="btn btn-lg btn-block btn-success" type="button">
                Block level button
              </button>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <button class="btn btn-lg btn-info btn-block" type="button">
                Large button
              </button>
              <button class="btn btn-warning btn-block" type="button">
                Default button
              </button>
              <button class="btn btn-sm btn-success btn-block" type="button">
                Small button
              </button>
              <button class="btn btn-xs btn-primary btn-block" type="button">
                Mini button
              </button>
              <a href="#" class="btn btn-xs btn-default disabled btn-block">
                Primary link
              </a>
              <a href="#" class="btn btn-xs disabled btn-block">
                Link
              </a>
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <a class="btn btn-sm btn-success" href="">Link</a>
              <button class="btn btn-sm btn-success" type="submit">Button</button>
              <input class="btn btn-sm btn-success" type="button" value="Input">
            </div>
            
            <hr class="hr-stylish-1">
            
            <div class="wrapper">
              <div class="hero-unit no-margin" style="padding: 10px;">
                <h1 class="text-info">Head1</h1>
                <h2 class="text-warning">Heading 2</h2>
                <h3 class="text-danger">Heading 3</h3>
                <h4 class="text-success">Heading 4</h4>
                <h5 class="text-info">Heading 5</h5>
                <h6>Heading 6</h6>
              </div>
            </div>
          </div>
          <!-- Right Sidebar End -->

        </div>
        <!-- Dashboard Wrapper End -->

        

      </div>
    </div>
    <!-- Main Container end -->

    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.scrollUp.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/menu.js"></script>
    
    <script type="text/javascript">
     

      //Tooltip
      $('a').tooltip('hide');

      //Popover
      $('.popover-pop').popover('hide');

      //Dropdown
      $('.dropdown-toggle').dropdown();

    </script>

  </body>
</html>