<!DOCTYPE html>
<html lang="en">

	<head>
	
		<!-- Basic -->
    	<meta charset="UTF-8" />

		<title>Table | Nadhif - Responsive Admin Template</title>
		
		<!-- Mobile Metas -->
		
		<!-- Import google fonts -->
       <!--  <link href="../assets/css/useso.css" rel="stylesheet" type="text/css" /> -->

	    <!-- start: CSS file-->
		
		<!-- Vendor CSS-->
		
		<!-- Plugins CSS-->
		
	
		
		<!-- Page CSS -->		

			
		<!-- end: CSS file-->	
		
	    <!-- start: JavaScript-->

		<!-- Vendor JS-->				
		<script src="../assets/vendor/js/jquery.min.js"></script>
		<script src="../assets/vendor/js/jquery-2.1.1.min.js"></script>
				
		<!-- Pages JS -->
		<script src="js/redis.js"></script>
		
	
	
	<body onLoad="init()">
					
		
		
	</body>
	
</html>